
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

<h3>Total Amont: @ViewBag.TotalPrice</h3>
<form action="/Invoice/Create" method="post">
    <input hidden="hidden" name="totalPaymentPrice" value="@ViewBag.TotalPrice" />
    <input type="submit" class="btn-lg btn-primary" name="paymentBtn" value="Click To Confirm Payment!"/>
</form>
