
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Teacher Index</h3>

<ul>
    <li>
        <a href="/Course/Create" class="navbar-link">Create Course</a>
    </li>
</ul>