<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/asset/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/asset/plugins/slick/slick.css" rel="stylesheet" />
    <link href="~/asset/plugins/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/asset/plugins/animate/animate.css" rel="stylesheet" />
    <link href="~/asset/plugins/aos/aos.css" rel="stylesheet" />
    <link href="~/asset/plugins/venobox/venobox.css" rel="stylesheet" />

    <link href="~/asset/css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/asset/images/favicon2.png" type="image/x-icon">
    <link rel="icon" href="~/asset/images/favicon2.png" type="image/x-icon">
</head>
<body>
    <!-- preloader start -->
    <div class="preloader">
        <img src="~/asset/images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->
    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://www.facebook.com/tajbiurshahrior.rimon"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://github.com/TajbiurShahriorRimon"><i class="ti-github"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-user"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="mailto: tajbiurshahriorrimon@gmail.com"><i class="ti-email"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://tajbiurshahriorrimon.github.io/profile_site/"><i class="ti-world"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html">notice</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html">research</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html">SCHOLARSHIP</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#loginModal">login</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#signupModal">register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div style="background-color:black;">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <a class="navbar-brand" href="index.html"><img src="~/asset/images/logo2.png" alt="logo" width="200"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Test/Index">Home</a>
                            </li>
                            <li class="nav-item courses">
                                <a class="nav-link" href="/Test/CourseTest" onclick="navColor()">COURSES</a>
                            </li>
                            <li class="nav-item">
                                <form class="navbar-left" action="/Course/SearchCourse" method="post" id="searchCourse" onsubmit="return checkSearchQuery()">
                                    <input class="form-control" type="text" name="searchCourse" value="@ViewBag.courseSearchQuery"
                                           id="searchCourseTxt" placeholder="Search..">
                                    <button type="submit" name="search" class="btn-success ti-search btn-sm"></button>
                                    @*<input type="submit" class="btn-danger ti-search" name="search" value="Search" />*@
                                </form>

                                <script type="text/javascript" src="~/jsFiles/Course/SearchCourse.js"></script>

                            </li>
                            @if (Session["user_type"] != null && Session["user_type"].ToString() != "Admin")
                            {
                                <li class="nav-item courses">
                                    <a class="nav-link" href="/ShoppingCart/Index"><i class="ti-shopping-cart"></i></a>
                                </li>
                            }

                            @*@if (Session["user_type"].ToString() == "Admin")
                                {*@
                            <li class="nav-item about">
                                <a class="nav-link" href="/User/AllUsers">Users</a>
                            </li>
                            @*}*@

                            @if (Session["user_type"] != null && Session["user_type"].ToString() == "Admin")
                            {
                            <li class="nav-item active">
                                <a class="nav-link" href="/Category/Index">Category</a>
                            </li>
                            }
                            <li class="nav-item dropdown view">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/User/EditProfile">Edit Profile</a>
                                    <a class="dropdown-item" href="teacher-single.html">Teacher Single</a>
                                    <a class="dropdown-item" href="notice.html">Notice</a>
                                    <a class="dropdown-item" href="notice-single.html">Notice Details</a>
                                    <a class="dropdown-item" href="research.html">Research</a>
                                    <a class="dropdown-item" href="scholarship.html">Scholarship</a>
                                    <a class="dropdown-item" href="/Course/Create">Create Course</a>
                                    @if (Session["user_type"] != null && Session["user_type"].ToString() == "Admin")
                                    {
                                        <a class="dropdown-item" href="/Invoice/Index">Invoice</a>
                                    }
                                    @if (Session["user_type"] != null && Session["user_type"].ToString() != "Admin")
                                    {
                                        <a class="dropdown-item" href="/Course/UserLearningCourses">My Learnings</a>
                                    }
                                    <a class="dropdown-item" href="/Home/LogOut">Log Out</a>
                                </div>
                            </li>
                            <li class="nav-item about">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Register</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login">
                        <form action="#" class="row">
                            <div class="col-12">
                                <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Credential/Login" class="row" method="post">
                        @*<div class="col-12">
                                <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                            </div>*@
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginName" name="email" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="loginPassword" name="password" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div>
        @RenderBody()
    </div>

    <script src="~/asset/plugins/jQuery/jquery.min.js"></script>
    <script src="~/asset/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/asset/plugins/slick/slick.min.js"></script>
    <script src="~/asset/plugins/aos/aos.js"></script>
    <script src="~/asset/plugins/venobox/venobox.min.js"></script>
    <script src="~/asset/plugins/filterizr/jquery.filterizr.min.js"></script>


    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
        <script src="~/asset/plugins/google-map/gmap.js"></script>*@

    <script src="~/asset/js/script.js"></script>

</body>
</html>
