@model IEnumerable<EduMax.Models.Course>

@{
    ViewBag.Title = "UserLearningCourses";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="container">
        <h2>Your Courses of Learning</h2>

        <table class="table">
            <tr>
                <th>
                    Category
                </th>
                <th>
                    Course
                </th>
                <th>

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        <img src="@Url.Content(item.CoursePhoto)" alt="" height="150" width="200" />
                    </td>
                    <td>
                        @Html.ActionLink("Lectures", "UserLearningCourseLectures", "Lecture", new { id = item.CourseId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
