@model EduMax.Models.Credential

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}

<h2>View</h2>

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body class="w3-container">

    <form class="w3-panel w3-card-4 w3-animate-top" action="">
        <h2>Sign Up!</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p><input class="w3-input" type="text" placeholder="Name" width="100"></p>
        @Html.ValidationMessageFor(model => model.Teacher.Name, "", new { @class = "text-danger" })
        <p><input class="w3-input" type="text" placeholder="Email"></p>
        <p><input class="w3-input" type="password" placeholder="Password"></p>
        <p><textarea class="w3-input" placeholder="Subject"></textarea></p>
        <p>
            <button class="w3-btn w3-black">Register as Student</button>
            <button class="w3-btn w3-green">Register as Teacher</button>
        </p>
    </form>

</body>
</html>

